body {
  font-size: 13px;
  line-height: 1.8;
  color: #222;
  font-weight: 400;
  font-family: Poppins;
}

.card {
  height: 550px;
  display: flex;
  margin: 15px 200px 15px 200px;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.img_container {
    width: auto;
  height: auto;
  margin: 100px 20px 100px 20px;
  float: right;
}

img {
  height: 400px;
  width: 320px;
  margin: 40px 10px 40px 10px;
  position: center;
  border-radius: 10px;
}

a {
  position: center;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
}

.form_group input{
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
  opacity: 0.7;
  outline: none;
    background: transparent; 
    border: none;
    border-bottom: 1px solid #000000;
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
}

h1 {
    text-align: left;
    font-size: 40px;
    margin-bottom: 20px;
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

form{
    width: auto;
    height: auto;
    position: relative;
    padding: 50px 50px 50px;
    background: #fffcf5;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

label {
    font-size: medium;
}
  
   .form_group input:focus ~ label,
   .form_group input:valid ~ label {
    top: -20px;
    left: 0;
    color: #bdb8b8;
    font-size: 12px;
  }

  button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    /* margin: 30px 10px 30px 10px; */
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.7s all ease;
    border-radius: 10px;
    background-color: #5048ec;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
  }

  button:hover {
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0 0 5px #000000;
  }
/* 
  .form_group {
    position: relative;
    margin-bottom: 15px;
  } */
